extends layout

block content
  .text-center.mt-5
    h1 WinterPulse

  .container.d-flex.justify-content-center.align-items-center.min-vh-70
    .text-center
      button.btn.custom-btn.mt-3(type='button', onclick="window.location='/users/register'") Register
