doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/fontawesome/css/all.min.css")
  body
    nav.navbar.navbar-expand-lg.bg-body-tertiary
      .container-fluid
        a.navbar-brand(href='#')
          img(width='30' height='30' src='/images/compass logo.png')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='/') Начало
            if user
              if user.role == 'admin'
                li.nav-item
                  a.nav-link(href='/places/new') Добави дестинация
            li.nav-item
              a.nav-link(href='/places') Всички дестинации
          form.d-flex(action='/places' method='GET' role='search')
            input.form-control.me-2(name='placeFilter' type='search' placeholder='Дестинация' aria-label='Search')
            button.btn.btn-outline-success(type='submit') Търси
          ul.nav.navbar-nav.navbar-right
            if !user
              li.nav-item
                a.nav-link(href='/users/register')
                  i.fas.fa-user.link-icon
                  span Регистрация
              li.nav-item
                a.nav-link(href='/users/login')
                  i.fas.fa-sign-in-alt.link-icon
                  span Влизане
            else 
              li.nav-item
                a.nav-link(href='/users/logout')
                  i.fas.fa-sign-in-alt.link-icon
                  span Изход
    .main-content
      block content
    script(src="/bootstrap/js/bootstrap.bundle.min.js")
