body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-content {
  padding-left: 5%;
  padding-right: 5%;
}

.main-content {
  max-width: 95%;
}

.card-img-top {
  max-height: 200px;
  width: fit-content;
  object-fit: contain;
}

.card {
  align-items: center;
}

.link-icon {
  padding: 0px 8px;
}

.error {
  color: red;
  font-size: 0.9em;
}