extends ../layout

block content
    .container
        .row.justify-content-center
            .col-md-6
                h2 Регистрация
                form(id='signupForm')
                    .mb-3
                        label.form-label(for='firstName') Име
                        input.form-control(type='text' id='firstName' name='firstName' required)
                    .mb-3
                        label.form-label(for='lastName') Фамилия
                        input.form-control(type='text' id='lastName' name='lastName' required)
                    .mb-3
                        label.form-label(for='email') Имейл
                        input.form-control(type='email' id='email' name='email' required)
                    .mb-3
                        label.form-label(for='password') Парола
                        input.form-control(type='password' id='password' name='password' required)
                    .mb-3
                        label.form-label(for='password') Повтори парола
                        input.form-control(type='password' id='password2' name='password2' required)
                    .mb-3 
                        span#passwordError.error
                    button.btn.btn-primary(type='submit') Регистрация
    script. 
        const validatePassword = function(password) {
            // const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            // return regex.test(password);

            const errorList = [];    
            
            const regexOneUpperCase = /[A-Z]/;
            if (!regexOneUpperCase.test(password)){
                errorList.push("at least one uppercase letter");
            }


            const regexOneLowerCase = /[a-z]/;
            if (!regexOneLowerCase.test(password)) {
                errorList.push('at least one lowercase ');
            }    
        };
        document.getElementById("signupForm").addEventListener("submit", async (event) => {
            event.preventDefault();

            let firstName = document.getElementById("firstName").value;
            let lastName = document.getElementById("lastName").value;
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;
            let password2 = document.getElementById("password2").value;
            let error = document.getElementById("passwordError");

            let errorMessage = "";
            if (!validatePassword(password)) {
                errorMessage = "The password must be at least 8 symbols and contain at least one uppercase letter, one lowercase letter, one digit and one symbol.";
            }

            if (password !== password2) {
                errorMessage = "The passwords do not match.";
            }

            if (errorMessage != "") {
                error.innerHTML = errorMessage;
                return;
            }
        });